{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkpoint | Catálogo</title>
    <link rel="stylesheet" href="{% static 'MeuApp/css/conquista.css' %}">
</head>
<body>
    <main>
        <header class="site-header">
            <!--
            <div class="topbar">
                <div class="topbar-left">
                    <span class="brand-mini">CHECKPOINT</span>
                </div>
                <div class="topbar-right">
                    <span>Follow us:</span>
                    <a href="#" aria-label="Instagram">Instagram</a>
                    <a href="#" aria-label="Facebook">Facebook</a>
                    <a href="#" aria-label="Twitter">Twitter</a>
                </div>
            </div>
            -->
        
           <nav class="main-nav" aria-label="Menu principal">
                <div class="logo"><a href="{% url 'MeuApp:homepage' %}">CHECKPOINT</a></div>
                <ul class="menu-list">
                    
                </ul>
            {% if user.is_authenticated %}
                    <ul class="menu-list">
                        <li><a href="{% url 'MeuApp:perfil'%}">Olá, {{ user.username }}</a></li>
                        <li><a class="logout-link" href="{% url 'MeuApp:logout' %}">Logout</a></li>
                    </ul>

            {% else %} 
                    <a href="{% url 'MeuApp:login' %}" class="auth-link">Login / Register</a> {% endif %}
            </nav>
        </header>
        <section>
            <div class="hero-overlay">
                <div class="hero-content">
                    <p class="hero-kicker">EM CONSTRUÇÃO!</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="site-footer">
        <p>Desenvolvido por Alexandre e Nathan</p>
    </footer>
    
</body>
</html>