{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'MeuApp/css/registro.css' %}">
</head>
<body>

<div class="login-wrapper">
    <div class="login-box">

        <h1>Checkpoint</h1>
        <p class="subtitle">Crie sua conta</p>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <label>Usuário</label>
                {{ form_usuario.username }}
            </div>

            <div class="input-group">
                <label>Email</label>
                {{ form_usuario.email }}
            </div>

            <div class="input-group">
                <label>Senha</label>
                {{ form_usuario.password1 }}
            </div>

            <div class="input-group">
                <label>Confirmar Senha</label>
                {{ form_usuario.password2 }}
            </div>

            <button type="submit" class="login-btn">Cadastrar</button>
        </form>

        <div class="register-link">
            <ul><span>Já tem conta?<a href="{% url 'MeuApp:login' %}" class="auth-link">Entrar</a></span></ul>
            <ul><a href="{% url 'MeuApp:homepage' %}" class="auth-link">Voltar para Início</a></ul>
            
        </div>

    </div>
</div>

</body>
</html>